@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Manrope:wght@300;500&family=Raleway:wght@300;500&family=Roboto:wght@300;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --title: #1c1e1e;
  --pritext: #333333;
  --sectext: #acacac;
  --tertext: #f0f0f0;
  --fortext: #aaaaaa;
  --primary: #236289;
  --secondary: #063c5b;
  --tertiary: #f1f5f7;
  --fourtiary: #f5f5f5;
  --compliment: #f5842a;
  --complimentary: #fcad5d;
  --lightcompliment: #fff3f3;

  --font-family-roboto:"Roboto",serif;
  --font-family-raleway:"Raleway",sans-serif;
  --font-family-inter:"Inter",sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif; 
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-logo {
  display: block;
  width: 310px;
  height: 70px;
  margin: 0 auto 3em auto;
}

.sign-in-form {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 50%;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 5rem;
  overflow: hidden;
  border-radius: 3rem;
}

.sign-in-form .title {
  margin-bottom: 1.5em;
  font-size: 2em;
  color: var(--pritext);
  text-align: left;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: var(--tertext);
  margin: 5px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: var(--sectext);
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-size: 1.1em;
  color: var(--pritext);
}

.input-field input::placeholder {
  color: var(--fortext);
}

.user-admin {
  color: var(--primary);
  text-decoration: none;
  margin-top: 2em;
}

.login-btn {
  display: inline-block;
  width: 200px;
  background-color: var(--primary);
  border: none;
  outline: none;
  height: 55px;
  border-radius: 55px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--secondary);
  transition: ease-out 0.5s;
}

.login-btn:hover {
  box-shadow: inset 200px 0 0 0 var(--secondary);
}





