@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@500&family=Raleway:wght@500&family=Roboto:wght@500&display=swap');
:root {
  --title: #1c1e1e;
  --pritext: #77797a;
  --sectext: #d2d6d9;
  --tertext: #494a4a;
  --primary: #236289;
  --secondary: #063c5b;
  --tertiary: #f1f5f7;
  --fourtiary: #d1d2d2;

  --font-family-primary:"Roboto",serif;
  --font-family-secondary:"Raleway",sans-serif;
  --font-family-legacy:"Inter",sans-serif;
  
}

*{
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

p {
    color: var(--title);
    font-size: 14px;
    font-weight: 500px;
    line-height: 24px;
}

/* header design */
li, a, button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--tertext);
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

#menuList {
    margin-top: -20px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    
}

.logo {
    cursor: pointer;
    height: 20px;
    margin: 20px 0 20px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

ul{
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 10px 20px;
}

ul li a {
    transition: all 0.3s ease 0s;
}

ul li a:hover {
    color: var(--pritext);
}

/* body design */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Manrope", sans-serif;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin: 50px;
    padding-right: 100px;
}

.col-1 h1 {
    font-size: 70px;
    color: var(--title);
    margin: 0;
    padding: 0;

}

.col-1 p {
    margin-top: 20px;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 57%;
    background-color: var(--primary);
    position: absolute;
    left: -40px;
    top: 23px;
}

.btnbody {
    height: 70px;
    width: 200px;
    margin-top: 40px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--primary);
    border: 1px solid rgb(35,98,137,1);
}

.btnbody:hover {
    background-color: var(--tertiary);
}

.col-2 {
    position: relative;
    flex-basis: 55%;
    display: flex;
    align-items: right;
}

.col-2 .car {
    width: 90%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(var(--primary), var(--secondary));
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 88%;
    z-index: -1;
    transform: translateX(150px);

}


@media only screen and (max-width:640px) {

    .navbar {
        border-bottom: 1px solid var(--fourtiary);
    }
    
    nav ul {
        width: 100%;
        background: #fff;
        position: absolute;
        top: 75px;
        left: 0;
        z-index: 1;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        color: var(--tertext);
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }

    .row {
        flex-direction: column-reverse;
        margin: 30px 0;
    }

    .col-2 {
        flex-basis: 100%;
    }

    .col-2 .car {
        width: 100%;
    }

    .color-box {
        transform: translateX(75px);
    }

    .col-1 {
        flex-basis: 100%;
        align-items: center;
    }
    
    .col-1 h1 {
        font-size: 30px;
        color: var(--title);
        margin: 0;
        padding: 0;
    
    }
    
    .col-1 p {
        margin-top: 20px;
        font-size: 11px;
    }
}
